---
import Section from "../Section.astro";
import Radar from "@/icons/Radar.astro";

import { basics } from "@landing";
const { name, profiles } = basics;
import { Github, Instagram, Linkedin, Threads, X } from "simple-icons-astro";
const SOCIAL_ICONS: Record<string, any> = {
  Github,
  Instagram,
  Linkedin,
  Threads,
  X,
};
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <Radar />Sígueme
  </h2>

  <footer>
    <div class="avatar">
      <img src="../images/avatar.svg" alt=`${name}` class="avatar-img" />
      <h3>
        Edinson Rivera Jurado <span>•</span> Desarrollo Web <span>•</span> Community
        Manager
      </h3>
    </div>

    <p class="copyright">© 2024 Copyright —@edirju</p>

    <div class="social-icons">
      {
        profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network];

          if (!Icon) {
            console.error(`Icono no encontrado para la red: ${network}`);
            return null;
          }

          return (
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              title={`Visitar el perfil de ${name} en ${network}`}
            >
              <Icon />
            </a>
          );
        })
      }
    </div>
  </footer>
</Section>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .avatar h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05em;
  }

  .copyright {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgb(var(--text-100), 0.45);
  }

  .social-icons {
    display: flex;
    gap: 1.5rem;
  }

  .social-icons a {
    transition-property: transform, color;
    transition-duration: 0.3s, 0.5s;
    transition-delay: 0s, 0.1s;
    color: rgb(var(--dark), 0.65);
  }
  .social-icons a:hover {
    transform: scale(1.2) rotate(360deg);
    color: rgb(var(--text-200), 1);
  }

  @media (width <= 700px) {
    main {
      margin-bottom: 38px;
      padding: 0rem;
    }

    .avatar {
      flex-direction: column;
      text-align: center;
    }

    .avatar img {
      width: 48px;
      height: 48px;
    }
  }
</style>
