---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import MinNav from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer.astro";

import {
  Rss,
  Github,
  Html5,
  Css3,
  React,
  Javascript,
  Python,
  Vite,
} from "simple-icons-astro";
import Circle from "@/icons/circle.astro";
import AstroIcon from "@/icons/AstroIcon.astro";
import Data from "@/icons/Data.astro";
import { basics } from "@landing";
import { projects } from "@cv";
const { name, label } = basics;
---
<Layout title=`Proyectos de ${name} - ${label}`>
  <MinNav />
  <Section>
    <h2 class="section-title mb-4">
      <Data />Proyectos | Prácticas
    </h2>
    <p class="parrafo mb-4">
      Los pequeños detalles marcan una gran diferencia. Con los años he
      aprendido a fijarme en esos detalles. Nunca dejo de aprender. He aquí
      varias recopilaciones a lo largo de este camino.
    </p>    

    <ul class="projects-items">
      {
        projects.map(
          ({ url, description, highlights, name, isActive, github }) => {
            return (
              <li class="items">
                <article class="item">
                  <header>
                    <h3 class="">
                      <a
                        href={url}
                        title={`Ver el proyecto ${name}`}
                        target="_blank"
                      >
                        {name}
                      </a>
                      {isActive && (
                        <span>
                          <Circle />
                        </span>
                      )}
                      {github && (
                        <a
                          class="github-code-link"
                          href={github}
                          target="_blank"
                          title={`Ver código fuente del proyecto ${name}`}
                        >
                          <Github class="w-4 h-4" />
                        </a>
                      )}
                    </h3>
                    <p class=" line-clamp-2">{description}</p>
                  </header>
                  <footer>
                    <ul>
                      {highlights.map((highlight) => {
                        return <span>{highlight}</span>;
                      })}
                    </ul>
                  </footer>
                </article>
              </li>
            );
          }
        )
      }
    </ul>    
  </Section>
  <Footer />
</Layout>

<style>
  .projects-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 8px;
  }
  .items {
    overflow: hidden;
    border: 1px solid rgb(var(--dark), 0.08);
    border-radius: 0.5rem;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  .items:hover {
    background-color: rgb(var(--accent-50), 0.05);
    border: 1px solid rgb(var(--accent-50), 0.1);
    box-shadow:
      4px 4px 16px rgb(var(--dark), 0.05),
      -4px -4px 16px rgb(var(--dark), 0.05);
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    height: 100%;
  }
  .item header h3 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  .item header h3 a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.05rem;
    text-wrap: pretty;
    color: rgb(var(--accent-65), 0.8);
  }
  .item header h3 a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .item header h3 span {
    color: rgb(0, 188, 47, 1);
  }
  .item header p {
    font-size: 12px;
    line-height: 1.4;
    color: rgb(var(--dark), 0.5);
    text-wrap: pretty;
  }
  .item footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .item footer ul span {
    font-size: 10px;
    color: rgb(var(--dark), 0.5);
    background: rgb(var(--accent-65), 0.08);
    padding: 1px 3px;
    border-radius: 4px;
    width: fit-content;
  }
  .github-code-link {
    color: rgb(30, 37, 44, 0.55);
    margin-left: 8px;
  }
</style>
