---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Logo from "@/icons/Logo.astro";
import News from "@/icons/News.astro";
import { slide } from "astro:transitions";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Section>
    <header
      class="text-[rgb(var(--dark), 0.08)] body-font"
      transition:animate="slide"
    >
      <div
        class="container mx-auto flex flex-row items-center justify-between pt-4"
      >
        <a class="flex title-font font-medium items-center text-gray-900">
          <Logo />
          <h3 class="ml-2 text-xl font-bold tracking-tighter">Edinson.</h3>
        </a>

        <a
          class="inline-flex items-center gap-1 bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm md:mt-0"
          href="/blog"
        >
          Volver a Blog
          <News class="w-4 h-4" />
        </a>
      </div>
    </header>

    <div class="mt-[72px]">
      <h2 class="text-2xl font-bold">
        {frontmatter.title}
      </h2>
      <p class="italic text-gray-400">
        {frontmatter.pubDate.slice(0, 10)}
      </p>
      <p class="text-balance">
        {frontmatter.description}
      </p>
      <p> 
        Escrito por: 
        <span class="font-semibold text-gray-500 tracking-wide">
          {frontmatter.author}
        </span>
      </p>
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>

    <div>
      <slot />
    </div>
  </Section>

  <style>
    img {
      border: 1px solid rgb(var(--dark), 0.08);
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 700px;
      height: 350px;
      border-radius: 12px;
      margin: 16px 0;
    }

    @media (width <= 700px) {
      header {
        margin-bottom: 38px;
      }
    }
  </style>
</Layout>
